*.pyc
*.pyd
*.pyo
*.egg
/build/
/dist/
*.orig
*,cover
/venv/
venv
.venv
*.egg-info
.coverage
coverage.xml
.*,cover
*.class
*.so
*.patch
/.cache/
/.mypy_cache
*.sw[o,p]
*.rej
.idea
/Pipfile*
/.pytest_cache/
/pip-wheel-metadata/
/.vscode/
/.ipynb_checkpoints/
*.ipynb
/.pytest_cache
.DS_Store
.env*